* {
	text-decoration: none;
	list-style: none;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	color: black;
	padding: 10px;
}
h1:hover {
	color: grey;
}

#tile-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main-day-tiles {
	width: 250px;
	margin-bottom: 2%;
}
#hamburger-ul {
	background: rgba(255,105,180,1);
	position: absolute;
	font-size: 0em;
	top: 50px;
	right: 50px;
	width: 0%;
	transition: width 1s;
}
#hamburger-ul li {
	text-align: center;
	color: white;
	font-family: 'Amatic SC', cursive;
	padding: 4%;

}
#hamburger-ul li:hover {
	color: grey;
}
#hamburger {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 75px;
	height: 75px;
	background-color: rgba(255,105,180,0.5);
	border-radius: 50%;
	z-index: 3;
}
.hamburger-line {
	z-index: 3;
	left: 12px;
	position: absolute;
	width: 50px;
	height: 3px;
	background-color: white;
	transition: all ease 1s;
}
#line1 {
	top: 20px;
}
#line2 {
	top: 35px;
}
#line3 {
	top: 50px;
}
#line1.hamburger-line.x-out {
	transform: rotate(45deg) translate(12px, 12px);
	transition: all ease 0.7s;
}
#line2.hamburger-line.x-out {
	transform: rotate(-45deg) translate(0px, 2px);
	transition: all ease 0.7s;
}
#line3.hamburger-line.x-out {
	transform: rotate(-45deg) translate(8px, -8px);
	transition: all ease 0.7s;
}
#hamburger-ul.open {
	width: 25%;
	transition: width 1s;
	font-size: 1.5em;
	transition: font-size 1s;
	z-index: 2;

}
#main-nav-ul {
	position: absolute;
	margin: 0;
	background: rgba(255,255,255,0.8);
	top: 0;
	width: 100%;
	z-index: 10;
	height: 20px;
	font-size: 15px;
	transition: all 0.5s;
	display: grid;
	grid-template-columns: repeat(3, auto);
}
#main-nav-ul:hover {
	height: 45px;
	font-size: 30px;
	transition: all 0.5s;
}
#main-nav-ul a {
	text-align: center;
	color: black;
}
#main-nav-ul a li {
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
}
/* MEDIA QUERIES */
@media only screen and (max-device-width : 600px) {
	#hamburger-ul.open {
		width: 80%;
	}
}