/* COLORS 
#820263
#D90368
#EADEDA
#FFD400
*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
  	font-family: Comfortaa, sans-serif;
}
/*body {
	animation: colorChange 10s infinite;
	overflow-x: hidden;
	overflow-y: hidden;*/
}

/* INVITE ------------------- */

body {
  background: #820263; 
}
#content {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 15vh;
  grid-template-areas: 
    "spacer spacer spacer"
    "left-gutter envelope right-gutter";
  transition : all 0.5s;
}
#envelope {
  grid-area: envelope;
  background: #EADEDA;
  padding: 20% 35%;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
#click {
  color: #124E78;
  font-size: 1.5em;
}
#event-info {  
  display: none;
  grid-template-columns: 1fr;
}
#event-title {
  color: #124E78;
  font-family: 'Permanent Marker', cursive;
  font-size: 3.5em;
  text-shadow: 2px 2px 4px rgba(255, 212, 0, 0.6);
}
.event-ps {
	font-size: 1.5em;
	color: #D90368;
	margin-bottom: 10px;
}
#form-contain {
  width: auto;
  justify-self: center;
  visibility: hidden;
  height: auto;
  border: 3px solid #FFD400;
  padding: 20px;
  transition: all 0.5s;
  text-align: left;
}
input {
  margin-bottom: 10px;
}
form, label, input {
  visibility: hidden;
  font-size: 0;
  height: 0;
  transition: all 0.5s;
}
input[type="number"] {
  width: 50px;
}
#rsvp {
  cursor: pointer;
  color: #FFD400;
  background: #124E78;
  width: 50%;
  justify-self: center;
  font-family: 'Permanent Marker', cursive;
}
#rsvp-submit {
  color: #FFD400;
  background: #124E78;
  font-family: 'Permanent Marker', cursive;
  border-radius: 10px;
  margin-top: 15px;
  float: right;
  padding: 10px;
}




/* BUBBLES ----------------------- */
/*#bubbles {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	z-index: -1;
	transform: translateZ(0);
}
#bubbles li {
	border-radius: 50%;
	position: absolute;
	display: block;
	opacity: 0.5;
	background: url("../images/glitter.jpg");
	bottom: -100px;
	animation: bubble 20s infinite;
	transition-timing-function: linear;
}
#bubbles li:nth-child(1) {
	width: 40px;
	height: 40px;
	left: 5%;
}
#bubbles li:nth-child(2) {
	width: 80px;
	height: 80px;
	left: 28%;
	animation-delay: 2s;
	animation-duration: 27s;
}
#bubbles li:nth-child(3) {
	width: 9px;
	height: 9px;
	left: 62%;
	animation-delay: 5s;
	animation-duration: 36s;
}
#bubbles li:nth-child(4) {
	width: 19px;
	height: 19px;
	left: 81%;
	animation-delay: 11s;
	animation-duration: 24s;
}
#bubbles li:nth-child(5) {
	width: 69px;
	height: 69px;
	left: 26%;
	animation-delay: 7s;
	animation-duration: 35s;
}
#bubbles li:nth-child(6) {
	width: 74px;
	height: 74px;
	left: 85%;
	animation-delay: 2s;
	animation-duration: 23s;
}
#bubbles li:nth-child(7) {
	width: 36px;
	height: 36px;
	left: 52%;
	animation-delay: 12s;
	animation-duration: 31s;
}


@keyframes bubble {
	0% {transform: translateY(0);}
	100% {transform: translateY(-1000px);}
}

@keyframes colorChange {
	0% {
		background: #820263;
	}
	50% {
		background: #D90368
	}
	100% {
		background: #820263;
	}
}

/* MEDIA QUERIES */
/*@media only screen and (max-width : 550px) {
	.youre-invited {
		font-size: 2em;
	}
}*/